#overlay_form{
position: absolute;
border: 5px solid gray;
padding: 10px;
background: white;
width: 254px;
height: 450px;
}

#pop{
display: block;
border: 1px solid gray;
width: 65px;
text-align: center;
padding: 6px;
border-radius: 5px;
text-decoration: none;
margin: 0 auto;
}
